{% extends "layout.html.twig" %}

{% block body %}
<div id="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#">
                    <img alt="Brand" class="navbar-brand" src="/static/img/feedme.png">
                </a>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Items by day</h3>
                        </div>
                        <div class="panel-body">
                            <div id="item-by-day-chart" class="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Items by feed</h3>
                        </div>
                        <div class="panel-body">
                            <div id="feed-chart" class="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
